<!-- app.component.html -->
<router-outlet></router-outlet>

<div *ngIf="isSetNodeVisible">
  <app-set-node-url></app-set-node-url>
</div>

<div class="fixed bottom-0 left-0 w-screen flex flex-row justify-end px-8 py-4 ">
  <div (click)="toggleIsNodeVisible()" class="max-w-lg px-8 text-center cursor-pointer bg-slate-50 text-slate-700 
   hover:bg-slate-100  flex flex-row items-center gap-x-2 text-sm font-sans border transition-all font-normal py-3 rounded-md gap-y-4">
   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-workflow"><rect width="8" height="8" x="3" y="3" rx="2"/><path d="M7 11v4a2 2 0 0 0 2 2h4"/><rect width="8" height="8" x="13" y="13" rx="2"/></svg> 
   <div class="text-center">Set custom node URL</div>
  </div>
</div>