/* styles.css */

/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Apply Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the font to the entire body */
body {
  font-family: monospace;
}

/* You can also create utility classes for different font weights if needed */
.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}


.font-bold {
  font-weight: 700;
}

/* Add any other global styles here */